body {
    font-family: "Times New Roman";
    padding-top: 20px;
}

.color {
    color: #316B83;
}

.ü1 {
    margin-bottom: 20px;
}

.mybutton {
    background-color: #316B83;
    color: white;
}

.mybutton:hover {
    background-color: #79B4B7;
    color: white;
}

.mycontainer {
    background-color: #f9f9f9;
    padding: 20px;
}

.header-bild {
    height: 250px;
}

h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.kontakt-schrift {
    margin-top: 80px;
}